<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>

  <!-- 서블릿 컨테이너에 등록된 모든 서블릿을 위한 초기 파라메터 -->
  <context-param>
    <param-name>Location</param-name>
    <param-value>c:/a/b/c/some.xml</param-value>
  </context-param>

  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.do</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>databaseServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DatabaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>databaseServlet</servlet-name>
    <url-pattern>/database.do</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>databaseServlet2</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DatabaseServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>databaseServlet2</servlet-name>
    <url-pattern>/database2.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConfigServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.ServletConfigServlet</servlet-class>
    <init-param>
      <param-name>driver</param-name>
      <param-value>oracle.jdbc.OracleDriver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConfigServlet</servlet-name>
    <url-pattern>/config.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DispatchServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.DispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DispatchServlet</servlet-name>
    <url-pattern>/dispatch.do</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletContextServlet</servlet-name>
    <servlet-class>kr.or.kosta.servlet.ServletContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextServlet</servlet-name>
    <url-pattern>/context.do</url-pattern>
  </servlet-mapping>
  <servlet>
   <servlet-name>HttpSessionServlet</servlet-name>
   <servlet-class>kr.or.kosta.servlet.HttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
   <servlet-name>HttpSessionServlet</servlet-name>
   <url-pattern>/session.do</url-pattern>
  </servlet-mapping>
</web-app>
