@font-face {
	font-family: Poppins-Regular;
	src: url('fonts/poppins/Poppins-Regular.ttf');
}

body, html {
	font-family: sans-serif;
	background: #c4d3f6
}

label{
	font-size: 12px;
	color: red;
}

.table_layout {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 33px 30px;
	/*   
	position: relative;
	width: 40%;
	box-sizing: border-box;
	padding: 1px; */
}

table {
	position: relative;
	width: 100%;
	border-radius: 8px;
	overflow: hidden;
	display: table;
}
/* strong{
	border : 1px solid black;
} */
thead {
	color: #ffffff;
	background: #6c7ae0;
}

tbody {
	background: #fff;
	position: relative;
	border-collapse: collapse;
	border: 1px solid black;
	border-radius: 8px;
	border-collapse: collapse;
}

th {
	font-size: 15px;
	color: #fff;
	line-height: 1;
	font-weight: unset !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

td {
	text-align: center;
	font-size: 12px;
	color: #666666;
	font-weight: unset !important;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #f2f2f2;
}

div.init {
	position: relative;
	border: 1px solid black;
	width: 98%;
	padding: 10px;
}

.container {
	width: 98%;
}

#left {
	padding: 5px;
	float: left;
}

#right  {
	padding: 5px;
	float: right;
}
select, input[type=text]{
    box-sizing: border-box;
    font-size: 15px;
}

input[type=submit], input[type=reset] {
	border: 2px solid black;
	background-color: white;
	color: black;
	font-size: 15px;
	cursor: pointer;
	border-color: #2196F3;
	color: dodgerblue;
	border-radius: 5px;
}

input[type=submit]:hover, input[type=reset]:hover {
	background: #2196F3;
	color: white;
}
